* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    color: #555;
}
div {
    box-sizing: border-box;
}

input[type=text],
input[type=number] {
    width: 120px;
    padding: 2px 8px;
    border: 0;
    background-color: #f5f5f5;
    font-size: 14px;
    outline: none;
    box-shadow: inset 0 1px 4px #ccc;
    font-family: monospace;
    border-radius: 2px
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
}


.wrapper {
    max-width: 1200px;
    margin: 20px auto;
}

.split_view > .w1,
.split_view > .w2,
.split_view > .w3,
.split_view > .w4,
.split_view > .w5,
.split_view > .w6,
.split_view > .w7,
.split_view > .w8,
.split_view > .w9,
.split_view > .w10,
.split_view > .w11,
.split_view > .w12 { float: left; }

.split_view > .w1 { width: 8.33%; }
.split_view > .w2 { width: 16.66%; }
.split_view > .w3 { width: 25%; }
.split_view > .w4 { width: 33.33%; }
.split_view > .w5 { width: 41.66%; }
.split_view > .w6 { width: 50%; }
.split_view > .w7 { width: 58.33%; }
.split_view > .w8 { width: 66.66%; }
.split_view > .w9 { width: 75%; }
.split_view > .w10 { width: 83.33%; }
.split_view > .w11 { width: 91.66%; }
.split_view > .w12 { width: 100%; }

.split_view:after {
    content: '';
    display: table;
    clear: both;
}

.paper {
    padding: 20px;
    /*box-shadow: 0 2px 4px #ddd;*/
}

.keyv {
    margin: 1em 0;
}
.keyv > * {
    display: inline-block;
}
.keyv > div:first-child {
    min-width: 160px;
}
.month_stat {
    border-left: 10px solid transparent;
    border-radius: 10px 0 0 10px;
}
.month_stat.buy {
    background-color: #c8ffc8;
    border-color: green;
}
.month_stat > input {
    float: left;
    width: 20px; height: 20px;
}
.month_stat > div {
    margin-left: 20px;
}
.fixed {
    position: fixed;
    top: 0; bottom: 0; left: 0;
    overflow: auto;
}

.no-wrap {
    white-space: nowrap;
}
.pre-wrap {
    white-space: pre-wrap;
}
.padded {
    padding: 5px 20px;
}
